*{
    margin: 0;
    background-color: #244930;
    
}
nav{
    
    color: red;
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: .1vh;
    height: 5vh;
   
}
header a{
    color: white;
    text-decoration: none
}
main{
    
}