/*background-color: #244930;
*/

*{
    margin: 0;
    background-color: #404340;
    color: white;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    font-size: 1.2em;
    
}
main{
    display: flex;
    padding: 1em
}
#overview{
    background-color: aliceblue;
    background-image: url(./pics/overview.jpeg);
    width: 300px;
    height: 200px;
    background-size: 100%;
   
}

footer{
    height: 500px;
}

.logo{
    background-image: url(./pics/logo.jpg);
    width: 300px;

}